@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

h1, p, h2, h3, h4, h5, h6, a, button, .logo{
    font-family: 'Montserrat', sans-serif !important;
}

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
h2, h5{
    font-weight: 700 !important;
}

h4{
    color: #737373 !important;
}

h1{
    font-size: calc(2.5rem + 2vw) !important;
}

i{
    color: #737373 !important;
    cursor: pointer;
}

header{
    min-height: 100vh;
    background: linear-gradient(107.2deg, #FBE38F 100%, #F1D256 100%);
}
.navbar-toggler{
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    margin: 0px;
}
.menu{
    width: 100%;
    padding: 0;
    justify-content: flex-end;
}
.logo{
    font-weight: 700;
}
li > a{
    color: #737373 !important;
}
.line{
    width: 100%;
    height: 2px;
    background: #737373;
    margin: 2px;
}
.weTake{
  min-height: 95vh;
}
.weTake2{
    width: 100%;  
}
.iconesMobile{
    display: none;
}
.bi-cart3{
    margin-left: 20px ;
}
.bi-search{
    margin-left: 30px;
}

.btnNow{
    width: 185px;
    height: 50px;
    background: #00A0C1 !important;
    border: #00A0C1 !important;
}

.cardDigital{
    background: #00A0C1 !important;
    border: 1px solid #00A0C1 !important;
}

.btnLean{
    width: 140px;
    height: 50px;
    color: #00A0C1 !important;
   
    border: 1px solid #00A0C1 !important;
}

/* SECTION FEATURES*/


#features{
    min-height: 80vh;
    padding: 20px;
}

#features > .cartes > .card{
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 40px;
}

.titleSection > h2{
    font-size: calc(2rem + 1vw) !important;
    margin-bottom: 30px;
}
.titleSection > p{
    font-size: calc(1rem + .9vw) !important;
    color: #737373 !important;
}

#features > .cartes > .card > .card-body > .card-title{
    margin-top: 15px !important;
}
.titleSection{
    margin: 25px 0px 50px 0px;
    width: 100%;
    
}


/*SECTION ADVICES*/

#advices{
    min-height: 100vh;
    padding: 50px;
}
#advices > .cartes > .card{
    margin: 20px 12px;
}
.titleSection2{
    margin-bottom: 50px;
    width: 100%;
    padding: 50px;
    letter-spacing: 0.2px;
}
.titleSection2 > h2{
    font-size: calc(2rem + 1vw) !important;
    margin-bottom: 30px;
    text-align: center;
    
}
.titleSection2 > p{
    font-size: calc(1rem + .9vw) !important;
    color: #737373 !important;
    text-align: center;
    width: 80%;
    letter-spacing: 0.2px;
   
    
}
#advices > .cartes > .card > .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#advices > .cartes > .card > .card-body >p{
    color: #737373;
}

/* SECTION BUSINESS*/

#business{
    min-height: 100vh;
    padding: 50px;
}
.iconeSec3{
    margin-right: 10px;
}
.boxCard3 > h5{
    margin: 0;
}


/*Section CLIENTS */

#clients{
    position: relative;
    min-height: 40vh;
    background: #FAFAFA;
    padding: 20px;
}
#clients::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: #252B42;
    bottom: 0;
}
.clientsIcons{
    margin: 10px 0px 0px 0px;
    padding: 60px 0px;
}
.news{
    background: #16697A;
    color: white;
    height: 120px;
}
.subscribe{
    height: 50px;
    width: 150px;
    background: #FFA62B;
    color: white;
    border-radius: 0px 5px 5px 0px !important; 
}
.email{
    height: 50px;
    border-radius: 5px 0px 0px 5px !important; 
    width: 50%!important;
}
.newsletter{
    z-index: 5;  
    
}

/* SECTION CONTACT */

#contact{
    min-height: 100vh;
    background: #F3F3F3;
}
.blackCard{
    background-color: #252B42 !important;
    color: white;
}

/* FOOTER*/

footer{
    min-height: 50vh;
}
.btnContact{
    background-color: #FFA62B!important;
    color: white !important;
}
.menuFooter{
    background: #16697A;
    color: white ;
    min-height: 30vh; 
}
.menuFooter > div > div > div{
    margin: 30px;
}
.menuFooter > div > div > div >  a{
    color: white !important;
}
.footerContact{
    margin-top: 25px;
    margin-bottom: 25px;
}
.footerIcones{
    justify-content: end;
}

.iconeFooter{
    width: 15px;
}

.footerIcones > a > img{
    margin-left: 10px;
}
.footerLove{
    margin-top: 25px;
    margin-bottom: 20px;
}


@media screen and (max-width: 992px) {
    .menu{
        align-items: center;
        justify-content: center;
    }

    .icones{
        display: none;
    }

    .iconesMobile{
        display: block;
    }

    .mobileMenu{
        align-items: center;
    }

}

@media screen and (max-width: 767px) {
    .clientsIcons > div > div > img{
        margin: 40px 0px;
        width: 100px;
    }   
}

@media screen and (max-width: 425px) {

    nav{
        background: white;
       
    }

    .titleSection2 > p{
        width: 100% !important;
        
    }
    
    .newsletter{
        width: 100%;
    }
    .buttonsH{
        display: flex;
        justify-content: center ;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .news{
        justify-content: center !important;
        align-items: center !important;
       
        width: 100%;
        height: 30vh;
        margin: 0 !important;
    }

    .colorQuery{
        background: #16697A;
    }

    .email{
        width: 100% !important;
    }

    #clients{
        padding: 0;
    }

    #clients::before{
       
        background-color: transparent;
    }

    .news > div > h3{
        padding: 0 !important;
        text-align: center;
    }
    .news > div {
        width: 100% !important;
        justify-content: center;
    }

    .footerContact > div > div{
        flex-direction: column;
        align-items: flex-start;
        padding: 50px;
    }

    .footerContact > div{
        width: 100% !important;
    }

    .menuFooter > div > div{
        flex-direction: column;
        
    }
    .menuFooter > div > div > div{
        width: 80%;
        
    }

    .btnContact{
        margin-top: 30px;
    }

    .footerLove > div{
        height: 20vh;
        flex-direction: column;
    }

    .footerIcones{
        align-items: center;
        justify-content: inherit !important;
    }

   

   
    
}